*, html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

/* create background animation (grabbed from the concurrently-developed Mini Server project) */

@property --back-anim-rot {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

body {
    --back-anim-rot: 0deg;
    --content-width: 0;
    --border-thickness: 1.5px;

    background-image:
        linear-gradient(calc(225deg + var(--back-anim-rot)), #dba553cc, #0000 80%),
        linear-gradient(calc(135deg + var(--back-anim-rot)), rgba(213, 115, 63, 0.8), #0000 80%),
        linear-gradient(calc(330deg + var(--back-anim-rot)), #eb1d1dcc, #0000 80%);
    
    animation: 20s linear backAnim infinite running;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes backAnim {
    from {  --back-anim-rot: 0deg;  }
    to {  --back-anim-rot: 360deg;  }
}

/* content div formatting */

#content {
    display: grid;
    width: var(--content-width);
    height: var(--content-width);
    /* rows/cols template filled in dynamically by JS */
    
    background-color: #111;
    border: calc(3 * var(--border-thickness)) solid #111; /* add border to parent to make outlines less "weird" */
}

#content > div.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f8f8f8;

    width: var(--tile-size);
    height: var(--tile-size);
    outline: calc(2 * var(--border-thickness)) solid #111;

    position: relative;
}

#content > div.tile > h1 {
    max-width: 90%;

    color: #111;
    font-family: serif;
    font-size: calc(0.6 * var(--tile-size));
    font-weight: 400;
    text-align: center;

    background-color: #0000;

    outline: none;
    border: none;

    pointer-events: none;
}

#content > div.tile.hidden {  background-color: #222;  }
#content > div.tile.selected {  background-color: #ffa899;  }
#content > div.tile.main-selected {  background-color: #e94b4b;  }

#content > div.tile > h2 {
    position: absolute;
    top: 0.2em;
    left: 0.2em;

    font-size: calc(0.25 * var(--tile-size));
    font-family: serif;
}

/* clue container styling */

#clue-container {
    --height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    --padding: 1%;
    padding: 0 var(--padding);

    width: calc(var(--content-width) - 2 * var(--padding));
    height: var(--height);

    background-color: #f8f8f8;
    outline: calc(3 * var(--border-thickness)) solid #111; /* add border to parent to make outlines less "weird" */
}

#time-readout {
    width: 15%;

    color: #111;
    font-size: calc(0.425 * var(--height));
    text-align: center;
}

#clue-num {
    margin-bottom: 3%;

    width: 4%;

    color: #111;
    font-size: calc(0.33 * var(--height));
    text-align: right;
}

#clue-text {
    width: 70%;

    color: #111;
    font-size: calc(0.42 * var(--height));
    line-height: var(--height);

    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-wrap: nowrap;
}

#clue-container > button {
    width: 10%;
    height: 60%;

    background-color: #fab2b2;
    border: 2px solid #111;
    border-radius: calc(0.12 * var(--height));
    outline: none;
    
    color: #111;
    font-family: serif;
    font-size: calc(0.28 * var(--height));
    font-weight: 600;

    cursor: pointer;
    transition: 0.25s background-color;
}

#clue-container > button:hover {  background-color: #ffcece;  }
#clue-container > button:active {  background-color: #e37a7a;  }